.recipes {
  width: 60vw;
  height: 90vh;
  margin-top: 5vh;
  margin-right: 3vw;
  text-align: center;
}


@media screen and (max-width: 900px) {
  .recipes {
    width: 90vw;
  }
}

@media screen and (max-width: 400px) {
  .recipes {
    width: 80vw;
  }
}
