.recipe-card {
  border: 1px solid #4D0906;
  margin: 10px;
  text-align: center;
}

.recipe-img {
  width: 150px;
  height: 150px;
}

.dietary-info-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.dietary-info {
  color: #A44703;
  font-weight: bold;
}

.details-btn {
  width: 50%;
  border-radius: 50px;
  background-color: #DD9D46;
}

.details-btn:hover {
  background-color: #A44703;
}

.red {
  color: #4D0906;
}

.green {
  color: green;
}

.missing {
  font-size: 2rem;
}
