.recipe-title {
  width: 60vw;
  text-align: center;
  margin-bottom: 5vh;
}

.details {
  width: 60vw;
  height: 90vh;
  margin-top: 5vh;
  margin-right: 3vw;
  text-align: center;
}

.used {
  color: green;
}

ul {
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

li {
  text-align: left;
  margin: 10px;
}

h2 {
  margin-bottom: 0;
}

.back-btn {
  font-size: 1.5rem;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: #DD9D46;
  margin: 5vh 0;
}

.back-btn:hover {
  background-color: #A44703;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
